src/index.pug
extends pug/base

append vars
	- title = "ASSOCIATES STUDIO DESIGN"
	- meta.viewport = "width=device-width, initial-scale=1"

block content
	header
		.row.main-header
			.col.col-9.logo-block
			.col.col-3.menu-block
	main
		.row.projects
			.col.col-3.projects__item1
			.col.col-6.projects__item2
			.col.col-3.projects__item3

build/index.html
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ASSOCIATES STUDIO DESIGN</title>
		<link rel="stylesheet" href="/css/main.css?v=1551172979517">
	</head>
	<body>
		<header>
			<div class="row main-header">
				<div class="col col-9 logo-block"></div>
				<div class="col col-3 menu-block"></div>
			</div>
		</header>
		<main>
			<div class="row projects">
				<div class="col col-3 projects__item1"></div>
				<div class="col col-6 projects__item2"></div>
				<div class="col col-3 projects__item3"></div>
			</div>
		</main>
		<script src="/js/vendor.js?v=1551172979517"></script>
		<script src="/js/main.js?v=1551172979517"></script>
	</body>
</html>
